body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #FF4313;
    font-family: 'Poppins', sans-serif;
    color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#password-container {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    z-index: 1000;
}

#password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#password-input {
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    width: auto;
    min-width: 100px;
    text-align: center;
    font-size: 28px;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

#password-input::placeholder {
    color: var(--text-color);
    text-align: center;
    font-size: 28px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

#password-input:focus {
    color: #fff;
    background-color: var(--primary-color);
}

#password-input:focus::placeholder {
    opacity: 0.3;
}

.feedback {
    color: #fff;
    margin-top: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.feedback.show {
    opacity: 1;
    animation: fadeInOut 2s ease;
}

.success {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
} 